Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  clang-analyzer-*,
  cppcoreguidelines-*,
  hicpp-*,
  google-*

FormatStyle: "google"

WarningsAsErrors: '*'